html, body {
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	overflow-y:scroll;
}
body {
	background: url(../images/body_bg.jpg) 0px 0px repeat-x #000;
}
.slot-machine{padding:0px;padding-left:0px;transform:scale(1,1);}
.main_bg {
	background: url(../images/grid.png)  center no-repeat;
	width: 1060px;
	height: 379px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top:100px;

}
/*.main {
	width: 1060px;
	height: 379px;
	position: relative;
	margin: 0 auto;
}
.num_mask {
	background: url(../images/num_mask.png) 0px 0px no-repeat;
	height: 184px;
	width: 740px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -370px;
	z-index: 9;
}*/
.num_box {
	/*height: 450px;
	width: 750px;*/
	position: absolute;
	width: 1060px;
	height: 379px;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*left: 50%;
	top: 100px;
	margin-left: -370px;
	z-index: 8;
	overflow: hidden;
	text-align: center;*/
}
.num {
	background: url(../images/number.png) top center repeat-y;
	width: 256px;
	height: 340px;
	/*float: right;*/
	/*margin-right: 6px;*/
	/*margin-left: 70px;*/
	/*margin-right: 70px;*/
}
.num.n2{
	position: absolute;
    left: 14px;
    top: 13px;
}
.num.n1{
	position: absolute;
    left: 401px;
    top: 13px;
}
.num.n0{
	position: absolute;
    left: 788px;
    top: 13px;
}
/*.btn {
	background: url(../images/btn_start.png) 0px 0px no-repeat;
	width: 264px;
	height: 89px;
	position: absolute;
	left: 30%;
	bottom: 50px;
	margin-left: -132px;
	cursor: pointer;
	clear: both;
}
.reset_btn {
	background: url(../images/btn_start.png) 0px 0px no-repeat;
	width: 264px;
	height: 89px;
	position: absolute;
	left: 70%;
	bottom: 50px;
	margin-left: -132px;
	cursor: pointer;
	clear: both;
}*/
.result {
	text-align: center;
	color: #ffffff;
	padding-top: 20px;
}

